<% include ../partials/header %>

    <div id="userControlsContainer">
      <h1><%= user.name %></h1>
    </div>
    <div id="userContainer">
      <div id="imageContainer">
        <% if(currentUser && currentUser.confirmation === true){ %>
        <div id="uploadContainer">
          <form id="agentPhotoUpload" action="/user/<%= user._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <label for="image">Upload new photo</label>
            <input type="file" id="userUpload" name="image" accept="image/*" required>
            <input type="submit" value="Update photo">
          </form>
        </div>
        <% } %>
        <div id="userImage">
          <img src="<%= user.image %>" alt="John Smith">
        </div>
      </div>
      <div id="listing_info_Container">
        <div id="userAbout">
          <h3>About</h3>
          <p><%= user.description %></p>
          <% if(currentUser && currentUser.confirmation === true){ %>
          <a id="editAboutBtn" href="/user/<%= user._id %>/edit">Edit about section</a>
          <% } %>
        </div>
        <div id="AgentListings">
          <% if(currentUser && currentUser.confirmation === true){ %>
          <h3>Listings</h3>
          <% listings.forEach(function(listing){ %>
            <% if(currentUser && listing.author.id.equals(currentUser._id)){ %>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" class="delete-form">
              <a href="/listings/<%= listing._id %>" class="addressP"><%= listing.address %></a>
              <button class="btn btn-danger">Delete</button>
            </form>
            <% } %>
            <% }); %>
            <% } %>
        </div>
      </div>
    </div>
<% include ../partials/footer %>
